<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Edit Your Listing</h1>
    <form action="/listings/<%= listing.id %>?_method=PUT" method="post" novalidate class="needs-validation">
      
      <div class="mb-3">
        <label for="title" class="form-label">Enter title: </label>
        <input type="text" value="<%= listing.title %>" name="title" id="title" class="form-control" required>
        <div class="invalid-feedback">Enter valid details</div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea name="description" id="description" rows="3" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Enter valid details</div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Enter image URL: </label>
        <input type="url" value="<%= listing.image %>" name="image" id="image" class="form-control" required>
        <div class="invalid-feedback">Enter valid details</div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price: </label>
          <input type="text" step="0.01" value="<%= listing.price %>" name="price" id="price" class="form-control" required>
          <div class="invalid-feedback">Enter valid details</div>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country: </label>
          <input type="text" value="<%= listing.country %>" name="country" id="country" class="form-control" required>
          <div class="invalid-feedback">Enter valid details</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input type="text" value="<%= listing.location %>" name="location" id="location" class="form-control" required>
        <div class="invalid-feedback">Enter valid details</div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
