<% layout("/layouts/boilerplate") %> <%=success%>
<body>
    <h1>All Listing</h1>
    <!-- <form action="/listing/new">
        <button>Create new </button>
    </form> -->
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
      <% for(let i = 0; i <allListing.length; i++){ %>
        <a href="/listing/<%=allListing[i].id%>" class="listing-link"> 
        <div class="card col" ">
           <img src="<%=allListing[i].image%>" class="card-img-top" alt="..." style="height:20rem" />
           <div class="card-img-overlay"></div> 
            <div class="card-body">
                <p class="card-text">
                    <b>  <%=allListing[i].title%> <br></b>
                    &#8377; <%=allListing[i].price.toLocaleString("en-IN")%>/night
                </p>
            </div>
        </div>
        </a>
    <%}%>
   </div>
    <!-- <% for (let i = 0; i <allListing.length; i++) {%>
        <li><a href="/listing/<%=allListing[i].id%>"><%=allListing[i].title%></a></li>
    <%} %> -->
</body>
